[user]
	name = Your Name
	email = you@example.com
[alias]
  s = status
  c = commit
  p = push
  pf = push -f
  co = checkout
  br = branch
  undo = "! f() { git clean -df && git checkout -- . }; f"
  permission-reset = "! git diff -p -R | grep -E \"^(diff|(old|new) mode)\" | git apply"
  reset-to-remote = "! git clean -d -f && git fetch origin && git checkout master && git reset --hard origin/master"
  permission-reset = !git diff -p -R --no-color | grep -E \"^(diff|(old|new) mode)\" --color=never | git apply
[core]
	excludesfile = ~/.gitignore_global
  editor = /usr/bin/vim
  autocrlf = input
  pager = diff-so-fancy | less --tabs=4 -RFX
[credential]
  helper = osxkeychain
[rebase]
  autostash = true
[diff-so-fancy]
  changeHunkIndicators = true
[commit]
	template = ~/.stCommitMsg
[push]
	followTags = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
